/*****************************************/
/*Piano Styles
/*****************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.7rem;
    background-color: #2b3138!important;
}
.piano {
    height: 100%;
    padding: 10rem 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.piano h1 {
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0;
    color: white;
    border: 3px solid green;

}
.piano-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items:center
}
.piano-keys {
    display: flex;
}
.key {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.key .span {
    font-size: 2rem;
}

.white {
    width: 8rem;
    height: 20rem;
    border: 0.2rem solid black;
    background-color: white;
    -webkit-box-shadow: 3px 3px 13px 5px #000000; 
    box-shadow: 3px 3px 13px 5px #000000;
}

.dark {
    height: 10rem;
    width: 3rem;
    background-color: black;
    margin-left: -2.5rem;
    margin-right: -2rem;
    z-index: 3;
    color: white;
}

.key:hover {
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.68); 
    box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.68);
}

.active-piano {
    transform: translateY(1rem);
}
